[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/congo"]
	path = themes/congo
	url = git@github.com:jpanther/congo.git
